<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Create New Review')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
    <div class="card ltblue-card">
        <div class="card-content">

            <!--<div class="row">-->
                <div class="card-content">
                    <span class="card-title center-align">Create Review</span>
                </div>
            <!--</div>-->

            <form th:action="@{/reviews/create}" th:method="post" th:object="${review}">
                <!--<div class="row">-->
                    <div class="input-field col s12">
                        <input th:field="*{title}" id="title" class="validate" name="title" type="text" />
                        <label for="title">Title</label>
                    </div>
                <!--</div>-->
                <!--<div class="row">-->
                    <div class="input-field col s12">
                        <textarea name="body" id="body" th:field="*{body}" class="materialize-textarea validate"></textarea>
                        <label for="body">Body</label>
                    </div>
                <!--</div>-->
                <!--<div class="row">-->
                    <div class="input-field col s12">
                        <label for="recommended">
                            <input th:checked="*{isRecommended} ? 'checked'" name="isRecommended" type="checkbox"
                                   style="visibility: hidden"
                                   id="recommended"/>
                            <span>I highly recommend this babysitter!</span>
                        </label>
                    </div>
                <!--</div>-->
        <br/>
                <input type="hidden" th:value="${appointment.babysitter.getId()}" name="sitter_id"/>
                <input type="hidden" th:value="${appointment.getId()}" name="appt_id"/><br/><br/>

                <div class="card-action center">
                    <button type="submit" class="btn pink-button hoverable">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
</main>

<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>