<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Create New Review')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">
<div class="col s12">

    <div class="row">
        <div class="col s12">
            <h5>Create Review</h5>
        </div>
    </div>

    <form th:action="@{/reviews/create}" th:method="post" th:object="${review}">
        <div class="row">
            <div class="input-field col s12">
                <input th:field="*{title}" id="title" class="validate" name="title" type="text" />
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="body" id="body" th:field="*{body}" class="materialize-textarea validate"></textarea>
                <label for="body">Body</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="submit" class="btn blue-grey darken-2" />
            </div>
        </div>
    </form>

</div>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>