<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Reviews Index')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
<div class="row">
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Reviews</span>
            <ul>
                <li th:each="review : ${reviews}">
                    <div class="card-panel">
                        <a th:href="@{'/reviews/'+${review.getId()}}">
                            <span th:text="${review.title}" ></span>
                        </a><br />
                        <span class="truncate">
                            <span th:text="${review.body}"></span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>

</main>
<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>