<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Reviews Index')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
<div class="row">
<div class="col s12">
<div class="card yellow-card row">

    <div class="card-content">

        <span class="card-title center">Recommended Babysitters:</span>

        <div>

        <ul th:each="review : ${reviews}" th:if="${review.getIsRecommended() == true}" class="card-panel">
            <li>
                <a th:href="@{'/reviews/'+ ${review.getBabysitter().username} + '/show'}" ><b>
                    <span
                        th:text="${review.getBabysitter().firstName} + ' ' + ${review.getBabysitter().lastName}"
                        style="color: var(--sg-drkblue)!important;">
                    </span></b>
                </a>
            </li>
            <li>
                <span th:text="${review.title}"></span>
            </li>
            <li>
                <blockquote>
                    <span th:text="${review.body}"></span>
                </blockquote>
            </li>
            <li>
                Recommended by:
                <a th:href="@{'/profile/'+ ${review.getParent().username}}" >
                    <span th:text="${review.getParent().getUsername()}"></span>
                </a>
            </li>
        </ul>

        </div>

    </div>

</div>
</div>
</div>
</div>

</main>
<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>


<!--<div class="card grey hoverable">-->
<!--<div class="card-content white-text" style="padding-top: 16px;">-->
<!--<span class="card-title">-->
<!--Title:-->
<!--<a th:href="@{'/reviews/'+${review.getId()}}">-->
<!--<span th:text="${review.title}"></span>-->
<!--</a>-->
<!--</span>-->

<!--</div>-->
<!--</div>-->