<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Reviews Index')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="row"></div>
<div class="container">
<div class="row">
<ul>

    <li th:each="review : ${reviews}">

        <div class="card grey hoverable">
            <div class="card-content white-text" style="padding-top: 16px;">
                <span class="card-title">
                    Title:
                    <a th:href="@{'/reviews/'+${review.getId()}}">
                        <span th:text="${review.title}" ></span>
                    </a>
                </span>
                <span>
                    ID:
                    <span th:text="${review.getId()}"></span>.
                </span>
                <br />
                <span class="truncate">
                    Body:
                    <span th:text="${review.body}"></span>
                </span>
            </div>
        </div>

    </li>

</ul>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>