<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Show Review')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">
<div class="col s12">

    <div class="card grey">
        <div class="card-content white-text" style="padding-bottom: 0; padding-top: 16px;">
            <span class="card-title">
                Title:
                <span th:text="${review.title}"></span>
            </span>
            <p>
                Body:
                <span th:text="${review.body}"></span>
            </p>
            <p>
                Email:
                    <span th:text="${review.parent.email}"></span>
            </p>
            <p>
                Parent:
                <a
                        th:href="@{'/profile/' + ${review.parent.username}}"><span
                        th:text="${review.parent.username}"></span></a>
            </p>
            <div class="card-action">
                <a th:href="@{'/reviews/'+${review.getId()}+'/edit'}">
                    <i class="fas fa-edit"></i></a>
                <a th:href="@{'/reviews/'+${review.getId()}+'/delete/'}">
                    <i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>

</div>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>