<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Choose Available Times')" /><title></title></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">

    <div class="col s12">
        <h3>Invalid entry. The end date/time must come after the start date/time. Please re-enter.</h3>
    </div>

    <div class="row">
    <form th:action="@{'/available-times/create?error'}" th:method="post" th:object="${datetime}">
        <div class="input-field col s12 m6 l3">
            <input type="text" class="datepicker" name="datepicker1" required="required" id="datepicker1" />
            <label for="datepicker1">Start Date</label>
        </div>
        <div class="input-field col s12 m6 l3">
            <input type="text" class="timepicker" name="timepicker1" required="required" id="timepicker1" />
            <label for="timepicker1">Start Time</label>
        </div>
        <div class="input-field col s12 m6 l3">
            <input type="text" class="datepicker" name="datepicker2" required="required" id="datepicker2" />
            <label for="datepicker2">End Date</label>
        </div>
        <div class="input-field col s12 m6 l3">
            <input type="text" class="timepicker" name="timepicker2" required="required" id="timepicker2" />
            <label for="timepicker2">End Time</label>
        </div>

        <div class="col s12 center">
            <button type="submit" class="btn hoverable">Submit</button>
        </div>
    </form>
    </div>

</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>