<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<th:block th:fragment="footer" id="Footer1">

<div class="page-footer indigo">
<div class="container">
<div class="row">

    <ul class="col s12 center">
        <li>
            <a href="#" class="grey-text text-lighten-3">
            <i class="fab fa-twitter"></i></a></li>
        <li>
            <a href="#" class="grey-text text-lighten-3">
            <i class="fab fa-facebook"></i></a></li>
        <li>
            <a href="#" class="grey-text text-lighten-3">
            <i class="fab fa-linkedin"></i></a></li>
        <li>
            <a href="#" class="grey-text text-lighten-3">
            <i class="fab fa-instagram"></i></a></li>
    </ul>

</div>
</div>
</div>

</th:block>


</body>
</html>
