<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>


<th:block th:fragment="navbar" id="Navbar1">

<div class="nav-wrapper indigo">
<div class="container">
<div class="row">
<div class="col s5">
    <a href="/posts" class="brand-logo">Super Cool Spring Blog App By Erik</a>
</div>
    <div class="col s7">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home"><i class="fas fa-home"></i></a></li>
        <li>
            <a href="/posts"><i class="fas fa-comments"></i></a></li>
        <li>
            <span sec:authorize="isAuthenticated()"></span>
            <a href="/posts/create">
            <i class="fas fa-plus"></i></a>
        </li>
        <li><a href="/users"><i class="fas fa-users"></i></a></li>

        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <li sec:authorize="isAnonymous()"><a href="/sign-up">Sign Up</a></li>

        <li sec:authorize="isAuthenticated()" style="display: inline;">
            <form th:action="@{/logout}" th:method="post" style="display: inline-block;">
            <span sec:authorize="isAuthenticated()"
                  th:text="'Logged in as ' + ${#authentication.principal.username} + ' '"
                  style="display: inline-block;"></span>
                <button class="btn waves-effect waves-light btn-small blue-grey darken-2 hoverable" style="display:
                inline;">Logout</button>
            </form>
        </li>
    </ul>

</div>
</div>
</div>
</div>

</th:block>

<!--<div sec:authorize="isAuthenticated()">-->
    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}"/>-->
    <!--Username: <span th:text="${#authentication.principal.username}"/>-->
    <!--Email: <span th:text="${#authentication.principal.email}"/>-->
<!--</div>-->

</body>
</html>
