<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Edit User')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<form method="post" action="ENTER ACTION HERE">
<div class="container">
    <div class="card"><div class="card-content">
        <span class="card-title center-align">Create Your Babysitter Profile</span>

            <!--  Birthdate  -->
            <div class="row">
                <div class="col s12 m10">
                    <label for="dob">When is your birthday?</label>
                    <input type="text" id="dob" name="dob" placeholder="mm/dd/yyyy">
                </div>
            </div>

            <!--  Years of Experience  -->
            <div class="row">
                <div class="col s12 m10">
                    <label for="exp">How many years of babysitting experience do you have?</label>
                    <input type="text" id="exp" name="exp" placeholder="Years of Experience">
                </div>
            </div>

            <!--  Education -->
            <div class="row">
                <div class="col s12 m10">
                    <label for="education">What is your education level?</label>
                    <select id="education">
                        <option value="" disabled selected>Enter your education level...</option>
                        <option value="1">In high school</option>
                        <option value="2">High school diploma</option>
                        <option value="3">In college or college graduate</option>
                    </select>
                </div>
            </div>

            <!--  CPR  -->
            <div class="row">
                <div class="col">
                    <label for="cpr">Are you certified in CPR?</label>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Yes, I have a CPR card</span>
                        </label>
                    </p>
                </div>
            </div>

            <!--  Transportation -->
            <div class="row">
                <div class="col">
                    <label for="transport">Can you provide your own transportation?</label>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Yes, I have my own transportation</span>
                        </label>
                    </p>
                </div>
            </div>

            <!--  Smoking  -->
            <div class="row">
                <div class="col">
                    <label for="smoking">Do you use tobacco or nicotine products?</label>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>No, I do not use tobacco or nicotine products</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>

        <!--  B U T T O N S  -->
        <div class="card-action">
            <div class="row center-align">
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn-large">< Back</a>
                    <a class="waves-effect waves-light btn-large">Next ></a>
                </div>
            </div>
        </div>

    </div>
</div>
</form>



<div class="container">
    <div class="input-field">
        <form th:action="@{'/users/'+${username}+'/edit/specifications'}" method="post">
        <span th:each="specificiation : ${user.specifications}"> </span>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>