<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Edit User')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div th:if="${user.getUsername() == sessionUser.getUsername()}" class="container">

    <div class="card ltblue-card center-align">
        <form th:action="@{'/profile/'+${user.username}+'/edit'}" method="post" th:object="${user}">

        <div class="card-content">
            <span class="card-title">Edit My Profile</span>
            <div class="row">
                <div class="input-field col s12">
                    <label for="email">Email</label>
                    <input type="text" id="email" th:field="*{email}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="streetAddr">Street Address</label>
                    <input type="text" id="streetAddr" th:field="*{streetAddr}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="city">City</label>
                    <input type="text" id="city" th:field="*{city}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="state">State</label>
                    <input type="text" id="state" th:field="*{state}"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" id="zipCode" th:field="*{zipCode}"/>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn blue-button">Submit</button>
        </div>
        </form>
    </div>
</div>
</main>
<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>