<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Edit User')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>



<div class="container">

<div class="input-field">
    <form th:action="@{'/profile/'+${user.username}+'/edit'}" method="post" th:object="${user}">

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="firstName">First Name</label>
        <input id="firstName" th:field="*{firstName}" />

        <label for="lastName">Last Name</label>
        <input id="lastName" th:field="*{lastName}" />

        <label for="streetAddr">Street Address</label>
        <input id="streetAddr" th:field="*{streetAddr}" />

        <label for="city">City</label>
        <input id="city" th:field="*{city}" />

        <label for="state">State</label>
        <input id="state" th:field="*{state}" />

        <label for="zipCode">Zip Code</label>
        <input id="zipCode" th:field="*{zipCode}" />

        <button type="submit" class="btn blue-grey darken-2">Submit</button>


<div class="container">
    <div class="card center-align"><div class="card-content">
        <span class="card-title">Edit My Profile</span>

        <form th:action="@{'/users/'+${user.id}+'/edit'}" method="post">
        <div class="row">
            <div class="input-field col s12">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" th:value="${user.username}" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password</label>
                <input type="text" name="password" id="password"
                   th:field="${user.password}" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="email">Email</label>
                <input type="text" name="email" id="email"
                   th:field="${user.email}" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" th:value="${user.id}" />
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>