<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Register')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">
<div class="col s12">

    <div class="row">
        <div class="col s12">
            <h5>Create an account</h5>
        </div>
    </div>

    <form th:action="@{/register}" th:method="POST" th:object="${user}">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" th:field="*{username}" name="username" class="validate" type="text" />
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" th:field="*{email}" name="email" type="text" class="validate" />
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" th:field="*{password}" />
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="firstName" th:field="*{firstName}" name="firstName" type="text" class="validate" />
                <label for="email">First Name</label>
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s12 m6">
                <input id="lastName" th:field="*{lastName}" name="lastName" type="text" class="validate" />
                <label for="email">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="street_address" type="text" th:field="*{streetAddr}" />
                <label for="street_address">Street Address</label>
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s12 m4">
                <input id="city" type="text" th:field="*{city}" />
                <label for="city">City</label>
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s12 m4">
                <input id="zipCode" type="text" th:field="*{zipCode}" />
                <label for="city">ZIP Code</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center">
                <input value="Sign me up!" type="submit" class="btn blue-grey darken-2" />
            </div>
        </div>
    </form>

</div>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>