<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Register')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>
<main class="center">
<div class="container ">
<div class="row">
<div class="col s8  offset-m2">
<div class="card ltblue-card center">

    <div class="card-content">

        <span class="card-title flow-text">Welcome!</span>

        <div class="row">
            <div class="card-panel col s12 splash-image">
                <!--<div class="splash-image"></div>-->
            </div>
            <div class="col s12 flow-text">
                <h4>Connecting parents with babysitters</h4>
                <h4>Register to get started!</h4>
            </div>
        </div>

    </div>

    <div class="card-action flow-text">
        Register as a...
        <a class="waves-effect waves-light btn-small blue-button hoverable"
           href="/register/parent" style="margin-left: 0.6em; margin-right: 1em;">Parent</a> or
        <a class="waves-effect waves-light btn-small pink-button hoverable"
           href="/register/babysitter" style="margin-left: 1em;">Babysitter</a>
    </div>

</div>
</div>
</div>
</div>
</main>

<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>