<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Show User')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">
<div class="col s12">

    <div class="card grey">
        <div class="card-content white-text" style="padding-bottom: 0; padding-top: 16px;">
            <span class="card-title">
                Username:
                <span th:text="${user.username}"></span>
            </span>
            <p>
                Password:
                <span th:text="${user.password}"></span>
            </p>
            <p>
                Email:
                <span th:text="${user.email}"></span>
            </p>
            <div class="card-action">
                <a th:href="@{'/profile/'+${user.getUsername()}+'/edit'}">
                    <i class="fas fa-user-edit"></i></a>
                <a th:href="@{'/profile/'+${user.getUsername()}+'/delete/'}">
                    <i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>

    <div>
    <ul>
        Reviews made:
        <li th:each="review : ${user.reviews}"  style="list-style: none; display: inline;">
            <a th:href="@{'/reviews/' + ${review.id}}">
                <span th:text="${review.title}"></span>
            </a>|
        </li>
    </ul>
    </div>
    <hr />

    <!-- erik additions 0517:1020 -->
    <!-- child stuff -->
    <div th:if="${(user.getisBabysitter() == false)}" class="col s12 m4">
    <ul>
        Children (only works in parent profiles):
        <br />
        <li th:each="child : ${user.children}">
            Name:
            <span th:text="${child.name}"></span>
            <ul>
                <li>
                    DOB:
                    <span th:text="${child.birthdate}"></span>
                </li>
                <li>
                    Notes:
                    <p>
                        <span th:text="${child.specialNote}"></span>
                    </p>
                </li>
            </ul>
        </li>
    </ul>
    </div>

    <!-- appointment stuff -->
    <!--<div class="col s12 m4">-->
    <!--<ul>-->
        <!--Appointments:-->
        <!--<li th:each="appointment : ${user.appointments}"  style="list-style: none; display:-->
        <!--inline;">-->

            <!--Babysitter name:-->
            <!--<span th:text="${appointment.start}"></span>-->
            <!--<ul>-->

                <!--<li>-->
                    <!--Start:-->
                    <!--<span th:text="${appointment.start}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--End:-->
                    <!--<span th:text="${appointment.end}"></span>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
    <!--</div>-->

    <!-- specifications stuff -->
    <div th:if="${user.getisBabysitter()}" class="col s12 m4">
    <ul>
        Specifications (only works for babysitter profiles):
        <br />
        <li th:each="specification : ${user.specifications}">
            Babysitter id/name: ?
            <!--<span th:text="${specification.id}"></span>-->
            <ul>
                <li>
                    dob:
                    <span th:text="${specification.birthdate}"></span>
                </li>
                <!--<li>-->
                    <!--education:-->
                    <!--<span th:text="${specification.educationLevel}"></span>-->
                <!--</li>-->
                <li>
                    has cpr:
                    <span th:text="${specification.hasCprTraining}"></span>
                </li>
                <li>
                    is smoker:
                    <span th:text="${specification.smoker}"></span>
                </li>
                <li>
                    years of exp:
                    <span th:text="${specification.yearsOfExperience}"></span>
                </li>
                <li>
                    has transportation:
                    <span th:text="${specification.hasTransportation}"></span>
                </li>
            </ul>
        </li>
    </ul>
    </div>
    <!-- end additions -->

</div>
</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>