<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Show User')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
    <!-- th:if="${(sessionUser.getisBabysitter() == false and sessionUser.getUsername() == user.getUsername()) or
    (sessionUser.getisBabysitter() == true)} -->
<!--<div class="card">-->
<div class="row">

    <!-- User info -->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content" >
                <span class="card-title">
                    <span th:text="${user.username}" ></span>
                </span>
                <ul class="card-panel">
                    <li>
                        <span th:text="${user.streetAddr}"></span><br />
                        <span th:text="${user.city}"></span>,
                        <span th:text="${user.state}"></span>
                        <span th:text="${user.zipCode}"></span>
                    </li>
                    <li>
                        <span th:text="${user.email}"></span>
                    </li>
                </ul>
            </div>

            <div class="card-action" th:if="${user.getUsername() == sessionUser.getUsername()}" >
                <a th:href="@{'/profile/'+${user.getUsername()}+'/edit'}">
                    <i class="fas fa-user-edit"></i> Edit Profile
                </a>
                <!--<a th:href="@{'/profile/'+${user.getUsername()}+'/delete/'}">-->
                    <!--<i class="fas fa-trash-alt"></i> Delete Profile</a>-->
            </div>
        </div>
    </div> <!-- end user info -->

    <!-- specifications stuff -->
    <div th:if="${user.getisBabysitter()}" class="col s12 m6">
        <div class="card small">
            <div class="card-content">
                <span class="card-title center">Specifications</span>
                <ul th:each="specification : ${user.specifications}">
                    <li >
                        DOB:
                        <span th:text="${specification.birthdate}"></span>
                    </li>
                    <li   th:if="specification.hasCprTraining">
                        <span class="badge">CPR-certified</span>
                    </li>
                    <li  th:unless="${specification.smoker}">
                        <span class="badge">Tobacco-free</span>
                    </li>
                    <li >
                        <span class="badge">
                            <span th:text="${specification.yearsOfExperience}"></span> years' experience
                        </span>
                    </li>
                    <li  th:if="${specification.hasTransportation}">
                        <span class="badge">has transport</span>
                    </li>
                </ul>
            </div>

            <div th:if="${user.getUsername() == sessionUser.getUsername()}" class="card-action">
                <a th:href="@{'/profile/'+${user.getUsername()}+'/edit/specifications'}">
                    <i class="fas fa-pen"></i> Edit Specifications
                </a>
            </div>
        </div>
    </div> <!-- end specs stuff -->

    <!-- children list -->
    <div th:if="${(user.getisBabysitter() == false)}" class="col s12 m6">
        <div class="card">

            <div class="card-content">
                <span class="card-title">Children:</span>

                <ul th:each="child : ${user.children}">
                    <li class="card-panel">
                        <span th:text="${child.name}"></span>, age
                        <span th:text="${#dates.year(#dates.createNow())-child.birthdate.getYear()-1900}"></span><br />

                        <!--<p th:unless="${child.specialNote.isEmpty()}">-->
                            <!--Notes:-->
                            <!--<span th:text="${child.specialNote}"></span>-->
                        <!--</p>-->
                        <span th:if="${user.getUsername() == sessionUser.getUsername()}" >
                            <a th:href="@{'/child/'+${child.id}+'/delete'}">
                                <i class="fas fa-trash-alt"></i> Remove child
                            </a>
                        </span>
                    </li>
                </ul>
            </div>

            <div  th:if="${user.getUsername() == sessionUser.getUsername()}" class="card-action">
                <a th:href="@{'/profile/'+${user.getUsername()}+'/create/children'}">
                    <i class="fas fa-plus"></i> Add a child
                </a>
            </div>
        </div>
    </div> <!-- end children list -->


</div> <!-- end row 1 -->
<div class="row">


    <!-- parent appointments -->
    <div th:if="${(user.getisBabysitter() == false)}" class="col s12">
        <div class="card">

            <div class="card-content">

                <span class="card-title">Future Appointments: </span>

                <ul th:each="appt : ${parentAppointments}"  style="list-style:
                none;">
                    <li class="card-panel" th:if="${appt.getStart() != null}" >
                        <span th:switch="${appt.start.getDay()}">
                            <span th:case="0">Sunday,</span><span th:case="1">Monday,</span>
                            <span th:case="2">Tuesday,</span><span th:case="3">Wednesday,</span>
                            <span th:case="4">Thursday,</span><span th:case="5">Friday,</span>
                            <span th:case="6">Saturday,</span>
                        </span>

                        <span th:switch="${appt.start.getMonth()}">
                            <span th:case="0">January</span><span th:case="1">February</span>
                            <span th:case="2">March</span><span th:case="3">April</span>
                            <span th:case="4">May</span><span th:case="5">June</span>
                            <span th:case="6">July</span><span th:case="7">August</span>
                            <span th:case="8">September</span><span th:case="9">October</span>
                            <span th:case="10">November</span><span th:case="11">December</span>
                        </span> <span th:text="${appt.start.getDate()}"></span>

                        <span th:text="${appt.start.getHours()}"></span>:
                        <span th:text="${appt.start.getMinutes()}"></span> -
                        <span th:text="${appt.end.getHours()}"></span>:
                        <span th:text="${appt.end.getMinutes()}"></span><br />


                        With: <a th:href="@{'/profile/' + ${appt.getBabysitter().getUsername()}}">
                        <span th:text="${appt.getBabysitter().getUsername()}"></span></a>


                        <span th:if="${user.getUsername() == sessionUser.getUsername()}">
                        <br />
                        <!--<a th:href="@{'/profile/'+${user.getUsername()}+'/delete/appointment/'+${appt.getId()}}">-->
                        <a th:href="@{'/appointments/'+${appt.getId()}+'/delete'}">
                            <i class="fas fa-trash-alt"></i> Cancel Appointment
                        </a>
                        </span>
                    </li>
                </ul>
            </div>

            <div th:if="${user.getUsername() == sessionUser.getUsername()}" class="card-action">
                <a th:href="@{'/appointments/create'}">
                <i class="fas fa-plus"></i> Schedule New Appointment</a>
            </div>
        </div>
    </div> <!-- end parent appts -->

    <!-- babysitter appointments -->
    <div th:if="${(user.getisBabysitter() == true) and user.getUsername() == sessionUser.getUsername()}"
         class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title center">Future Appointments</span>
                <ul th:each="appt : ${babysitterAppointments}"  style="list-style: none; display: inline;">
                    <li class="card-panel">
                        <span th:switch="${appt.start.getDay()}">
                            <span th:case="0">Sunday,</span><span th:case="1">Monday,</span>
                            <span th:case="2">Tuesday,</span><span th:case="3">Wednesday,</span>
                            <span th:case="4">Thursday,</span><span th:case="5">Friday,</span>
                            <span th:case="6">Saturday,</span>
                        </span>

                        <span th:switch="${appt.start.getMonth()}">
                            <span th:case="0">January</span><span th:case="1">February</span>
                            <span th:case="2">March</span><span th:case="3">April</span>
                            <span th:case="4">May</span><span th:case="5">June</span>
                            <span th:case="6">July</span><span th:case="7">August</span>
                            <span th:case="8">September</span><span th:case="9">October</span>
                            <span th:case="10">November</span><span th:case="11">December</span>
                        </span> <span th:text="${appt.start.getDate()}"></span>

                        <span th:text="${appt.start.getHours()}"></span>:
                        <span th:text="${appt.start.getMinutes()}"></span> -
                        <span th:text="${appt.end.getHours()}"></span>:
                        <span th:text="${appt.end.getMinutes()}"></span><br />

                     <span th:if="${(user.getisBabysitter() == true)}">
                        For:
                        <a th:href="@{'/profile/' + ${appt.getParent().getUsername()}}">
                            <span th:text="${appt.getParent().getUsername()}"></span>
                        </a>
                     </span>

                    <span th:if="${(user.getisBabysitter() == false)}">
                        With: <span th:text="${appt.getBabysitter().getUsername()}"></span>
                    </span>

                    <span th:if="${user.getUsername() == sessionUser.getUsername()}">
                        <br />
                        <!--<a th:href="@{'/profile/'+${user.getUsername()}+'/delete/appointment/'+${appt.getId()}}">-->
                        <a th:href="@{'/appointments/'+${appt.getId()}+'/delete'}">
                            <i class="fas fa-trash-alt"></i> Cancel Appointment
                        </a>
                    </span>
                 </li>
                </ul>
            </div>
        </div>
    </div> <!-- end babysitter appts -->

    <!-- Available Times List -->
    <div th:if="${(user.getisBabysitter() == true) and user.getUsername() == sessionUser.getUsername()}" class="col s12 m6">
        <div class="card">
            <div class="card-content">

                <span class="card-title center">
                    Available Hours
                </span>

                <ul th:each="time : ${available_times}" >

                    <li th:if="${time.getBabysitter().getId() == sessionUser.getId() and time.start > current_time}" class="card-panel">

                        <span th:switch="${time.start.getDay()}">
                            <span th:case="0">Sunday,</span><span th:case="1">Monday,</span>
                            <span th:case="2">Tuesday,</span><span th:case="3">Wednesday,</span>
                            <span th:case="4">Thursday,</span><span th:case="5">Friday,</span>
                            <span th:case="6">Saturday,</span>
                        </span>

                        <span th:switch="${time.start.getMonth()}">
                            <span th:case="0">January</span><span th:case="1">February</span>
                            <span th:case="2">March</span><span th:case="3">April</span>
                            <span th:case="4">May</span><span th:case="5">June</span>
                            <span th:case="6">July</span><span th:case="7">August</span>
                            <span th:case="8">September</span><span th:case="9">October</span>
                            <span th:case="10">November</span><span th:case="11">December</span>
                        </span> <span th:text="${time.start.getDate()}"></span>

                        <span th:text="${time.start.getHours()}"></span>:
                        <span th:text="${time.start.getMinutes()}"></span> -
                        <span th:text="${time.end.getHours()}"></span>:
                        <span th:text="${time.end.getMinutes()}"></span><br />

                        <a th:if="${user.getUsername() == sessionUser.getUsername()}"
                           th:href="@{'/available-times/'+${time.getId()}+'/delete/'}">
                            <i class="fas fa-trash-alt"></i> Cancel Time Slot
                        </a>
                    </li>
                </ul>
            </div>
            <div th:if="${user.getUsername() == sessionUser.getUsername()}" class="card-action">
                <a th:href="@{'/available-times/create'}">
                    <i class="fas fa-plus"></i> Schedule Available Hours</a>
            </div>
        </div>

        </div><!-- end avail times -->

    <!-- Available Times List -->
    <div th:if="${(user.getisBabysitter() == true) and user.getUsername() != sessionUser.getUsername()}"
    class="col s12">
        <div class="card">
            <div class="card-content">

                <span class="card-title center">
                    Available Hours
                </span>

                <ul th:each="time : ${available_times2}">

                    <li th:if="${time.getBabysitter().getId() == user.getId() and time.start > current_time}" class="card-panel">

                        <span th:switch="${time.start.getDay()}">
                            <span th:case="0">Sunday,</span><span th:case="1">Monday,</span>
                            <span th:case="2">Tuesday,</span><span th:case="3">Wednesday,</span>
                            <span th:case="4">Thursday,</span><span th:case="5">Friday,</span>
                            <span th:case="6">Saturday,</span>
                        </span>

                        <span th:switch="${time.start.getMonth()}">
                            <span th:case="0">January</span><span th:case="1">February</span>
                            <span th:case="2">March</span><span th:case="3">April</span>
                            <span th:case="4">May</span><span th:case="5">June</span>
                            <span th:case="6">July</span><span th:case="7">August</span>
                            <span th:case="8">September</span><span th:case="9">October</span>
                            <span th:case="10">November</span><span th:case="11">December</span>
                        </span>

                        <span th:text="${time.start.getDate()}"></span>
                        <span th:text="${time.start.getHours()}"></span>:
                        <span th:text="${time.start.getMinutes()}"></span> -
                        <span th:text="${time.end.getHours()}"></span>:
                        <span th:text="${time.end.getMinutes()}"></span><br />

                        <a th:if="${user.getUsername() == sessionUser.getUsername()}"
                           th:href="@{'/available-times/'+${time.getId()}+'/delete/'}">
                            <i class="fas fa-trash-alt"></i> Cancel Time Slot
                        </a>

                        <!-- CHOOSE BUTTON GOES HERE -->
                        <!--<form th:if="${user.getUsername() != sessionUser.getUsername()}"-->
                              <!--th:action="@{/appointments/availableBabysitters}" th:method="post" style="display: inline;">-->
                            <!--<input type="hidden" th:value="${time.id}" name="available_time_id"/>-->
                            <!--<input type="hidden" th:value="${time.babysitter.getId()}" name="sitter_id"/>-->
                            <!--<button class="btn-small center">Choose</button>-->
                        <!--</form>-->

                    </li>
                </ul>
            </div>

            <div th:if="${user.getUsername() == sessionUser.getUsername()}" class="card-action">
            <a th:href="@{'/available-times/create'}">
                <i class="fas fa-plus"></i> Schedule Available Hours</a>
            </div>
        </div>
    </div><!-- end avail times -->


</div> <!-- end row 2 -->
<div class="row">


    <!-- reviews made by parent list -->
    <div th:if="${(user.getisBabysitter() == false)}" class="col s12">
        <div class="card">
            <div class="card-content">

                <span class="card-title">Reviews made:</span>

                <ul th:each="review : ${user.reviews}" class="card-panel">
                    <li>
                        Sitter:
                        <!--<a th:href="@{'/reviews/' + ${review.id}}">-->
                        <span th:text="${review.babysitter.getUsername()}"></span>
                        <!--</a>-->
                    </li>
                    <li style="list-style: none;">
                        Title:
                        <!--<a th:href="@{'/reviews/' + ${review.id}}">-->
                        <span th:text="${review.title}"></span>
                        <!--</a>-->
                    </li>
                    <li>
                        Body:
                        <span th:text="${review.getBody()}"></span>
                    </li>
                    <li th:if="${review.getIsRecommended() == true}">
                        ** Highly Recommended Babysitter! **
                    </li>
                    <li th:if="${user.getUsername() == sessionUser.getUsername()}">
                        <a th:href="@{'/reviews/' + ${review.id} + '/edit'}">
                            <i class="fas fa-pen"></i> Edit Review
                        </a>
                        <a th:href="@{'/reviews/' + ${review.id} + '/delete'}">
                            <i class="fas fa-trash-alt"></i> Delete Review
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end reviews made -->

    <!-- Reviews on babysitters List -->
    <div th:if="${(user.getisBabysitter() == true)}" class="col s12">
        <div class="card">
            <div class="card-content">

                <span class="card-title">Reviews: </span>

                <ul th:each="review : ${reviews}"
                    th:if="${review.getBabysitter().getUsername() == user.getUsername()}" class="card-panel">
                    <li style="list-style: none; display: inline;">
                        Author:
                        <!--<a th:href="@{'/reviews/' + ${review.id}}">-->
                        <span th:text="${review.getParent().getUsername()}"></span>
                        <!--</a>-->
                    </li>
                    <li>
                        Title:
                        <span th:text="${review.getTitle()}"></span>
                    </li>
                    <li>
                        Body:
                        <span th:text="${review.getBody()}"></span>
                    </li>
                    <li th:if="${review.getIsRecommended() == true}">
                        ** Highly Recommended Babysitter! **
                    </li>
                </ul>
            </div>
        </div>
    </div>
 <!-- end babysitters reviews -->


</div> <!-- end row 3 -->
<!--</div>-->
</div> <!-- end container -->
</main>
<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>