<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Show User')" /></head>
<body>
<div>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<div class="container">
<div class="row">
<div class="col s12">

    <!--  GENERAL USER INFORMATION  -->
    <div class="card grey">
        <div class="card-content white-text" style="padding-bottom: 0; padding-top: 16px;">
            <span class="card-title"><span th:text="${user.username}"></span></span>
            <span th:text="${user.email}"></span><br />
            <span th:text="${user.streetAddr}"></span><br />
            <span th:text="${user.city}"></span>,
            <span th:text="${user.state}"></span>
            <span th:text="${user.zipCode}"></span>
        </div>
        <div class="card-action">
            <a th:href="@{'/profile/'+${user.getUsername()}+'/edit'}">
            <i class="fas fa-user-edit"></i> Edit Profile</a>
            <!--<a th:href="@{'/profile/'+${user.getUsername()}+'/delete/'}">-->
                <!--<i class="fas fa-trash-alt"></i> Delete Profile</a>-->
        </div>
    </div>
    <hr />

    <!--  BABYSITTER INFORMATION  -->
    <div th:if="${user.getisBabysitter()}" class="card medium col s12 m4">
        <div class="card-content">
            <span class="card-title">My Specifications:</span>
            <div class="row">
                <div class="col">
                    <ul>
                        <li th:each="specification : ${user.specifications}">
                            <ul>
                                <li>
                                    DOB:
                                    <span th:text="${specification.birthdate}"></span>
                                </li>
                                <li>
                                    <span th:if="${specification.yearsOfExperience == 1}">
                                        <span th:text="${specification.yearsOfExperience}"></span>
                                        year of experience
                                    </span>
                                    <span th:if="${specification.yearsOfExperience > 1}">
                                        <span th:text="${specification.yearsOfExperience}"></span>
                                        years' experience
                                    </span>
                                </li>
                                <li>
                                    <span th:if="${specification.hasCprTraining}">
                                        <span th:text="${user.getFirstName()}"></span> is CPR-certified.
                                    </span>
                                </li>
                                <li>
                                    <span th:unless="${specification.smoker}">
                                        <span th:text="${user.getFirstName()}"></span> is tobacco and nicotine-free.
                                    </span>
                                </li>
                                <li>
                                    <span th:if="${specification.hasTransportation}">
                                        <span th:text="${user.username}"></span> has transportation
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a th:href="@{'/profile/'+${user.getUsername()}+'/edit/specifications'}">
                <i class="fas fa-user-edit"></i></a>
        </div>
    </div>

    <!--  CHILD INFORMATION  -->
    <div th:if="${(user.getisBabysitter() == false)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">My Children:</span>
            <div class="row">
                <div class="col">
                    <ul>
                        <li th:each="child : ${user.children}">
                            <span th:text="${child.name}"></span>, age <span th:text="${child.getAge()}"></span>
                            <ul>
                                <li>
                                    <p th:if="${child.specialNote}" style="font-size: 0.8em;">
                                        Notes: <br />
                                        <span th:text="${child.specialNote}"></span>
                                    </p>
                                </li>
                            </ul>
                            <hr />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--         <ul>
            <h6>Specifications:</h6>
            <br />
            <li th:each="specification : ${user.specifications}">
                <ul>
                    <li>
                        DOB:
                        <span th:text="${specification.birthdate}"></span>
                    </li>
                    <li>
                        has cpr:
                        <span th:text="${specification.hasCprTraining}"></span>
                    </li>
                    <li>
                        is smoker:
                        <span th:text="${specification.smoker}"></span>
                    </li>
                    <li>
                        years of exp:
                        <span th:text="${specification.yearsOfExperience}"></span>
                    </li>
                    <li>
                        has transportation:
                        <span th:text="${specification.hasTransportation}"></span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="card-action">
            <a th:href="@{'/profile/'+${user.getUsername()}+'/edit/specifications'}">
                <i class="fas fa-user-edit"> Edit Specifications</i></a>
        </div> -->
  
    <!-- children list -->
<!--     <div th:if="${(user.getisBabysitter() == false)}" class="col s12 m4">

    <ul>
        <h6>Children:</h6>
        <br />
        <li th:each="child : ${user.children}">
            Name:
            <span th:text="${child.name}"></span>
            <ul>
                <li>
                    DOB:
                    <span th:text="${child.birthdate}"></span>
                </li>
                <li>
                    Notes:
                    <p>
                        <span th:text="${child.specialNote}"></span>
                    </p>
                </li>
                <li>
                        <a th:href="@{'/child/'+${child.id}+'/delete'}">
                            <i class="fas fa-trash-alt"></i> Remove child</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="card-action">
        <a th:href="@{'/profile/'+${user.getUsername()}+'/create/children'}">
            <i class="fas fa-plus"></i> Add a child</a>
    </div> -->

    <!-- appointments stuff -->
    <!-- parent appointments -->

    <div th:if="${(user.getisBabysitter() == false)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">Future Appointments:</span>
            <div class="row">
                <div class="col">
                    <ul>
                        <li th:each="appt : ${parentAppointments}"  style="list-style: none; display: inline;">
                            <span th:if="${(user.getisBabysitter() == true)}">
                                Parent: <span th:text="${appt.getParent().getUsername()}"></span>
                            </span>
                            <span th:if="${(user.getisBabysitter() == false)}">
                                Babysitter: <span th:text="${appt.getBabysitter().getUsername()}"></span>
                            </span>

                            <ul>
                                <li>
                                    Start: <span th:text="${appt.start}"></span>
                                </li>
                                <li>
                                    End: <span th:text="${appt.end}"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${(user.getisBabysitter() == false)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">Future Appointments:</span>

            <ul>
                <li th:each="appt : ${parentAppointments}"  style="list-style: none; display: inline;">

                <!--<span th:if="${(user.getisBabysitter() == true)}">-->
                    <!--Parent:-->
                        <!--<span th:text="${appt.getParent().getUsername()}"></span>-->
                <!--</span>-->
                <span th:if="${(user.getisBabysitter() == false)}">
                    Babysitter name:
                    <a th:href="@{'/profile/' + ${appt.getBabysitter().getUsername()}}">
                    <span th:text="${appt.getBabysitter().getUsername()}"></span></a>
                </span>

                <ul>

                    <li>
                        Start:
                        <span th:text="${appt.start}"></span>
                    </li>
                    <li>
                        End:
                        <span th:text="${appt.end}"></span>
                    </li>
                    <li>
                        <div class="card-action">
                            <a th:href="@{'/profile/'+${user.getUsername()}+'/edit/appointment/'+${appt.getId()}}">
                            <i class="fas fa-user-edit"></i> Edit Appointment</a>
                        <br />
                        <a th:href="@{'/profile/'+${user.getUsername()}+'/delete/appointment/'+${appt.getId()}}">
                            <i class="fas fa-trash-alt"></i> Cancel Appointment</a>
                        </div>
                    </li>

                </ul>
            </li>
    </ul>
        <div class="card-action">
            <a th:href="@{'/appointments/create'}">
            <i class="fas fa-plus"></i> Schedule New Appointment</a>
        </div>

    </div>


    <!-- babysitter appointments -->
    <div th:if="${(user.getisBabysitter() == true)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">Future Appointments</span>
                <ul>
                    <li th:each="appt : ${babysitterAppointments}"  style="list-style: none; display: inline;">
                        <div class="col s12">
                            <span th:if="${(user.getisBabysitter() == true)}">
                                Parent:
                                <a th:href="@{'/profile/' + ${appt.getParent().getUsername()}}">
                                <span th:text="${appt.getParent().getUsername()}"></span>
                                </a>
                            </span>
                            <span th:if="${(user.getisBabysitter() == false)}">
                                Babysitter name: <span th:text="${appt.getBabysitter().getUsername()}"></span>
                            </span>
                            <ul>
                                <li>
                                    Start:
                                    <span th:text="${appt.start}"></span>
                                </li>
                                <li>
                                    End:
                                    <span th:text="${appt.end}"></span>
                                </li>
                                <li>
                                    <div class="card-action">
                                        <a th:href="@{'/profile/'+${user.getUsername()}+'/edit/appointment/'+${appt.getId()}}">
                                        <i class="fas fa-user-edit"></i> Edit Appointment</a>
                                        <br />
                                        <a th:href="@{'/profile/'+${user.getUsername()}+'/delete/appointment/'+${appt.getId()}}">
                                            <i class="fas fa-trash-alt"></i> Cancel Appointment</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>
    </div>

    <!--&lt;!&ndash; specifications list &ndash;&gt;-->

    <!-- specifications list -->

    <!--<div th:if="${user.getisBabysitter()}" class="col s12 m4">-->
    <!--<ul>-->
        <!--Specifications:-->
        <!--<br />-->

        <!--<li th:each="specification : ${user.specifications}">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--DOB:-->
                    <!--<span th:text="${specification.birthdate}"></span>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;education:&ndash;&gt;-->
                    <!--&lt;!&ndash;<span th:text="${specification.educationLevel}"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li>-->
                    <!--has cpr:-->
                    <!--<span th:text="${specification.hasCprTraining}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--is smoker:-->
                    <!--<span th:text="${specification.smoker}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--years of exp:-->
                    <!--<span th:text="${specification.yearsOfExperience}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--has transportation:-->
                    <!--<span th:text="${specification.hasTransportation}"></span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->

        <!--&lt;!&ndash;<li th:each="specification : ${user.specifications}">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--<li>-->
                    <!--DOB:-->
                    <!--<span th:text="${user.specifications.birthdate}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--years of exp:-->
                    <!--<span th:text="${user.specifications.yearsOfExperience}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--has cpr:-->
                    <!--<span th:text="${user.specifications.hasCprTraining}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--is smoker:-->
                    <!--<span th:text="${user.specifications.smoker}"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--has transportation:-->
                    <!--<span th:text="${user.specifications.hasTransportation}"></span>-->
                <!--</li>-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li>-->
            <!--<div class="card-action">-->
                <!--<a th:href="@{'/profile/'+${user.getUsername()}+'/edit/specifications/'}">-->
                    <!--<i class="fas fa-user-edit"></i> Edit Specifications</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

    <!--</div>-->

    <!-- reviews list -->
    <div th:if="${(user.getisBabysitter() == false)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">My Reviews:</span>
            <div class="row">
                <div class="col">
                    <ul>
                        <li th:each="review : ${user.reviews}"  style="list-style: none; display: inline;">
                            <a th:href="@{'/reviews/' + ${review.id}}">
                            <span th:text="${review.title}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--     <ul>
        <h6>Reviews made:</h6>
        <br />
        <li th:each="review : ${user.reviews}"  style="list-style: none; display: inline;">
            <a th:href="@{'/reviews/' + ${review.id}}">
                <span th:text="${review.title}"></span>
            </a>
        </li>
        <li>
            <div class="card-action">
                <a href="#">
                    <i class="fas fa-user-edit"></i> Edit Review</a>
                <a href="#">
                    <i class="fas fa-trash-alt"></i> Delete Review</a>
            </div>
        </li>
    </ul> -->

    <!--</div>-->

    <!-- Available Times List -->

    <div th:if="${(user.getisBabysitter() == true)}" class="card col s12 m4">
        <div class="card-content">
            <span class="card-title">Available Hours:</span>
            <ul>
                <li th:each="time : ${available_times}"  style="list-style: none; display: inline;">
                    <div th:if="${time.getBabysitter().getId() == user.getId() and time.start > current_time}" class="col s12">
                        <!--<div class="card grey hoverable">-->
                        <!--<div class="card-content white-text" style="padding-top: 16px;">-->
                        <span class="card-title">
                            From: <span th:text="${time.start}"></span>
                            <br />
                            To: <span th:text="${time.end}"></span>
                        </span>
                        <br />

                        <a th:href="@{'/available-times/'+${time.getId()}+'/delete/'}">
                        <i class="fas fa-trash-alt"></i> Cancel Available Hours</a>
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-action">
            <a th:href="@{'/available-times/create'}">
                <i class="fas fa-plus"></i> Schedule Available Hours</a>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>

<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>