<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Users Index')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
    <div class="row">
        <div class="card ltblue-card">
            <div class="card-content center">
                <span class="card-title">Find Babysitters</span>
                <ul>

                    <li th:each="sitter : ${sitters}">

                        <div th:if="${sitter.getBabysitter()}" class="card-panel hoverable">
                            <a th:href="@{'/profile/'+ ${sitter.getUsername()}}">
                                <span th:text="${sitter.getUsername()}" ></span>
                            </a>, <span th:text="${sitter.getZipCode()}"></span>
                            <ul th:each="specification : ${sitter.specifications}">
                                <li>
                                    <span th:text="${sitter.specifications.getYearsOfExperience()}"></span> years' experience
                                </li>

                            </ul>
                            <!--<span th:text="${sitter.getSpecifications().getYearsOfExperience()}"></span> years' experience-->
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

</main>
<footer><th:block th:replace="fragments/footer :: footer"/></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>