<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Edit Children')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="card">
<div class="card-content">

    <span class="card-title center-align">Manage your specifications</span>
    <div class="card-content col s12">

            <form th:action="@{'/profile/'+${username}+'/edit/specifications'}" th:method="post" th:object="${specification}" >


                <div class="row">
                    <div class="input-field col s12">
                        <input th:field="*{birthdate}" id="dob" name="dob" type="text" class="datepicker2" />
                        <label for="dob">Birthdate</label>
                    </div>

                    <div class="input-field col s12">
                        <input th:field="*{yearsOfExperience}" id="exp" name="exp" type="text" class="validate" />
                        <label for="exp">How many years of babysitting experience do you have?</label>
                    </div>

                    <div class="input-field col s12">
                        <label for="cpr">Are you certified in CPR?</label>
                        <p>
                            <input th:checked="*{hasCprTraining}" type="checkbox" name="cpr" id="cpr" />
                            <span>Yes, I have a CPR card.</span>
                        </p>
                    </div>

                    <!--<div class="input-field col s12">-->
                        <!--<label for="smoking">Do you use tobacco or nicotine products?</label>-->
                        <!--<p>-->
                            <!--<label>-->
                                <!--<input th:field="*{isSmoker}" type="checkbox" name="smoking" id="smoking" />-->
                                <!--<span>No, I do not use tocacco or nicotine products.</span>-->
                            <!--</label>-->
                        <!--</p>-->
                    <!--</div>-->

                    <div class="input-field col s12">
                        <label for="transport">Can you provide your own transporation?</label>
                        <p>
                            <input th:checked="*{hasTransportation}" type="checkbox" name="transport" id="transport" />
                            <span>Yes, I have my own transportation</span>
                        </p>
                    </div>

                    <div class="input-field col s12 center">
                        <input type="submit" value="Submit" class="btn" />
                    </div>
                </div>

            </form>

    </div>
</div>
</div>
</div>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('select').formSelect();-->
        <!--$('#childSelect').change(function() {-->
            <!--$('#childSelect option:selected').each(function () {-->
                <!--let numOfChildren = $(this).text();-->
                <!--console.log(numOfChildren);-->
                <!--let test = childFormGenerator(numOfChildren);-->
                <!--console.log(test);-->
                <!--$('#childrenInfo').html(childFormGenerator(numOfChildren));-->

            <!--});-->
        <!--});-->
    <!--});-->

    <!--const childFormGenerator = (numOfChildren) => {-->
        <!--let childHTML = ``;-->
        <!--for (let i = 0; i < numOfChildren; i++) {-->
            <!--childHTML += `-->
            <!--<div class="row">-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--<div class="input-field col s12">-->
                        <!--<input placeholder="Child's Name" id="child${i}name" type="text" class="validate" />-->
                        <!--<input placeholder="mm/dd/yyy" id="child${i}birthday" type="text" class="validate" />-->
                        <!--<input placeholder="Special Notes" id="child${i}notes" type="text" class="validate" />-->
                    <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--`;-->
        <!--}-->
        <!--return childHTML;-->
    <!--}-->
<!--</script>-->

<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>