<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Edit Specifications')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

<div class="card">
<div class="card-content">

    <span class="card-title center-align">Manage your specifications</span>
    <div class="card-content col s12">

    <form th:action="@{'/profile/'+${user.username}+'/edit/specifications'}" th:method="post" th:object="${specifications}">

    <div class="row">

        <div class="input-field col s12">
            <input th:field="*{birthdate}" id="dob" type="text"
                   class="datepicker2" />
            <label for="dob">Birthdate</label>
        </div>

        <div class="input-field col s12">
            <input th:field="*{yearsOfExperience}" id="exp" type="text" />
            <label for="exp">Years of babysitting experience?</label>
        </div>

        <div class="input-field col s12">
                <label for="cpr">
                    <input th:checked="*{hasCprTraining} ? 'checked'" name="hasCprTraining" type="checkbox" id="cpr" />
                    <span>Yes, I have a CPR card.</span>
                </label>
        </div>

        <div class="input-field col s12">
                <label for="transport">
                    <input th:checked="*{hasTransportation} ? 'checked'" name="hasTransportation" type="checkbox" id="transport" />
                    <span>I have my own transportation.</span>
                </label>
        </div>

        <div class="input-field col s12">
                <label for="smoking">
                    <input th:checked="*{smoker} ? 'checked'" name="smoker" type="checkbox" id="smoking" />
                    <span>I use tobacco/nicotine products.</span>
                </label>
        </div>

        <!--<input type="hidden" th:value="*{id}" />-->

        <div class="input-field col s12 center">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>

</form>


</div>
</div>
</div>
</div>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('select').formSelect();-->
        <!--$('#childSelect').change(function() {-->
            <!--$('#childSelect option:selected').each(function () {-->
                <!--let numOfChildren = $(this).text();-->
                <!--console.log(numOfChildren);-->
                <!--let test = childFormGenerator(numOfChildren);-->
                <!--console.log(test);-->
                <!--$('#childrenInfo').html(childFormGenerator(numOfChildren));-->

            <!--});-->
        <!--});-->
    <!--});-->

    <!--const childFormGenerator = (numOfChildren) => {-->
        <!--let childHTML = ``;-->
        <!--for (let i = 0; i < numOfChildren; i++) {-->
            <!--childHTML += `-->
            <!--<div class="row">-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--<div class="input-field col s12">-->
                        <!--<input placeholder="Child's Name" id="child${i}name" type="text" class="validate" />-->
                        <!--<input placeholder="mm/dd/yyy" id="child${i}birthday" type="text" class="validate" />-->
                        <!--<input placeholder="Special Notes" id="child${i}notes" type="text" class="validate" />-->
                    <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--`;-->
        <!--}-->
        <!--return childHTML;-->
    <!--}-->
<!--</script>-->

<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>