/*html {*/
    /*font-family: 'Kaushan Script', cursive !important;*/
/*}*/
html {
    background-color: #F3D250 !important;
}
nav {
    background-color: #F78888 !important;
    margin-bottom: 2.5em !important;
    box-shadow: none !important;
}
.brand-logo {
    font-family: 'Kaushan Script', cursive;
    color: #F3D250 !important;
    text-shadow: 3px 3px #5DA2D5 !important;
}
.card {
    background-color: #ECECEC !important;
    width: 400px !important;
    margin: 0 auto !important;
    border-radius: 2em !important;
    /*padding-bottom: 1em !important;*/
}
.card-action {
    border-bottom-left-radius: 2em !important;
    border-bottom-right-radius: 2em !important;

}
img {
    border-top-left-radius: 2em !important;
    border-top-right-radius: 2em !important;
}
.yellow-button {
    background-color: #F3D250 !important;
    color: #5DA2D5;
}
.blue-button {
    background-color: #5DA2D5 !important;
    color: #ECECEC !important;
}
.space {
    width: 2em !important;
}
.page-footer {
    background-color: #90CCF4 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: -1.5em;
}

/*.brand-logo {*/
    /*font-family: 'Kaushan Script', cursive !important;*/
    /*color: #F3D250 !important;*/
    /*text-shadow: 3px 3px #5DA2D5;*/
/*}*/

#splash-image {
    width: 50%;
    height: 50%;
}

html {
    background: #eeeeee;
    color: #212121;
}

.card i, .card a {
    color: #3f51b5;
}

.card i:hover, .card a:hover {
    color: #1a237e;
}

nav ul li {
    list-style: none;
}

footer ul li {
    list-style: none;
    display: inline;
}