:root {
    --sg-red: #F78888 !important;
    --sg-yellow: #F3D250 !important;
    --sg-grey: #ECECEC !important;
    --sg-ltblue: #90CCF4 !important;
    --sg-drkblue: #5DA2D5 !important;
}

html {
    font-family: 'Merriweather', serif !important;
}

html, body {
    height: 100%;
}

nav ul li {
    list-style: none;
}

nav {
    background-color: #F78888 !important;
    margin-bottom: 2.5em !important;
    box-shadow: none !important;
}

body {
    background-image: url("../image/muted-bkg2.png");
    background-size: 350px 350px;
    background-repeat: repeat !important;
    background-position: center;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.brand-logo {
    font-family: 'Kaushan Script', cursive;
    color: #F3D250 !important;
    text-shadow: 3px 3px #5DA2D5 !important;
}

.splash-image {
    width:  300px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../image/babysitter2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parent-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url("../image/parent.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.babysitter-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url("../image/babysitter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    margin: 0 !important;
}

.card {
    /*background-color: #ECECEC !important;*/
    min-width: 100% !important;
    /*max-width: 600px !important;*/
    margin: 1em !important;
    /*border: 1px solid gray !important;*/
    border-radius: 1em !important;
    /*box-shadow: none !important;*/
    /*padding-bottom: 1em !important;*/
}

.card-content {
    min-width: 100% !important;
    font-size: 0.8em !important;
    padding: 2em !important;
}

.card-panel {
    min-width: 100% !important;
    padding: 2em !important;

}

.card-action {
    border-bottom-left-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
}

.card i, .card a {
    color: #3f51b5;
}

.card i:hover, .card a:hover {
    color: #1a237e;
}

img {
    border-top-left-radius: 2em !important;
    border-top-right-radius: 2em !important;
}
label {
    padding-left: 1em !important;
}
/* label color */
.input-field label {
    color: #000 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label {
    color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus {
    border-bottom: 1px solid #F78888 !important;
    box-shadow: 0 1px 0 0 #F78888 !important;
}

input {
    /*background-color: white !important;*/
    opacity: 0.6 !important;
    border-radius: 0.5em !important;
}

input[type=text], input[type=password] {
    font-family: 'Merriweather', serif;
    padding-left: 1em !important;
}

input:focus {
    opacity: 1 !important;
}

input[type=submit] {
    opacity: 1.0 !important;
}

.yellow-button {
    background-color: #F3D250 !important;
    color: #5DA2D5 !important;
    opacity: 1.0 !important;
}

.pink-button {
    background-color: #F78888 !important;
    color: #F3D250 !important;
}

.blue-button {
    background-color: #5DA2D5 !important;
    color: #ECECEC !important;
}

.space {
    width: 2em !important;
}

footer ul li {
    list-style: none;
    display: inline;
}
.profile-pic-erik {
    max-width: 20em;
    min-height: 20em;
    margin: 0 auto;
    background-image: url("../image/ErikBehnke.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-dwight {
    max-width: 20em;
    min-height: 20em;
    margin: 0 auto;
    background-image: url("../image/DwightBemisderfer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-mindy {
    max-width: 20em;
    min-height: 20em;
    margin: 0 auto;
    background-image: url("../image/MindyTillman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.badge {
    padding-right: 1.5em !important;
    padding-left: 1.5em !important;
    border-radius: 1em !important;
    background-color: #3f51b5 !important;
    font-family: sans-serif !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    color: #ECECEC !important;
}

.page-footer {
    margin-top: 2em !important;
}
