html {
    /*background: #eeeeee;*/
    color: #212121;
}

.card i, .card a {
    color: #3f51b5;
}

.card i:hover, .card a:hover {
    color: #1a237e;
}

nav ul li {
    list-style: none;
}

footer ul li {
    list-style: none;
    display: inline;
}