<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Contact Us!')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>
<main>

<div class="container">
<div class="row center">
    <div class="col s12 m4">
        <div class="card profile center hoverable">
            <div class="card-content" style="padding-top: 16px;">
                <span class="card-title">Erik Behnke</span>
                <div class="profile-pic-erik"></div>
                <em>Keep your head up in failure, and your head down in success.</em><br />
                Jerry Seinfeld
            </div>
            <div class="card-action">
                <a href="mailto:erik.behnke@gmail.com">
                    <i class="fas fa-envelope-square"></i></a>
                <a href="https://www.linkedin.com/in/erik-behnke/">
                    <i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/ebehnke">
                    <i class="fab fa-github-square"></i></a>
                <i class="fas fa-file"></i>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card profile center hoverable">
            <div class="card-content" style="padding-top: 16px;">
                <span class="card-title">Dwight
                    <br /><em>"Code Slayer"</em>
                    <br />Bemisderfer
                </span>
                <div class="profile-pic-dwight"></div>
                <em>I think life is far too short to concentrate on your
                    past. I rather look into the future.</em><br />
                Lou Reed
            </div>
            <div class="card-action">
                <a href="mailto:dwight.bemisderfer@gmail.com">
                <i class="fas fa-envelope-square"></i></a>
                <a href="https://www.linkedin.com/in/dwight-d-bemisderfer/">
                <i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/dbemisderfer">
                <i class="fab fa-github-square"></i></a>
                <i class="fas fa-file"></i>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card profile center hoverable">
            <div class="card-content" style="padding-top: 16px;">
                <span class="card-title">Mindy Tillman</span>
                <div class="profile-pic-mindy"> </div>
                <em>I offer nothing more than simple facts, plain
                    arguments, and common sense.</em><br />
                Thomas Paine
            </div>
            <div class="card-action">
                <a href="mailto:mjtillman@gmail.com">
                <i class="fas fa-envelope-square"></i></a>
                <a href="https://www.linkedin.com/in/mindyjtillman/">
                <i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/mjtillman">
                <i class="fab fa-github-square"></i></a>
                <a href="https://mjtillman.github.io/">
                <i class="fas fa-laptop-code"></i></a>
                <i class="fas fa-file"></i>
            </div>
        </div>
    </div>
</div>
</div>

</main>
<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>