<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Contact Us!')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
<div class="row">

    <div class="col s12 m4">
        <div class="card grey hoverable">
            <div class="card-content white-text" style="padding-top: 16px;">
                <span class="card-title">
                   dwight
                </span>
                <img src="#" alt="" />
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card grey hoverable">
            <div class="card-content white-text" style="padding-top: 16px;">
                <span class="card-title">
                    erik
                </span>
                <img src="#" alt="" />
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card grey hoverable">
            <div class="card-content white-text" style="padding-top: 16px;">
                <span class="card-title">
                    mindy
                </span>
                <img src="#" alt="" />
            </div>
        </div>
    </div>

</div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>