<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Available Times')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
    <div class="row">
        <h1>Available Hours</h1>
        <a th:href="@{'/make-babysitter-choices'}" ><h4>+ Add Times</h4></a>
        <ul>
            <li th:each="time : ${available_times}">
                <div th:if="${time.start > current_time}" >
                    <div class="card grey hoverable">
                        <div class="card-content white-text" style="padding-top: 16px;">
                            <!--<a th:href="@{'/available-times/'+ ${time.id}}">-->
                            <span class="card-title">
                                From:
                                <span th:text="${time.start}"></span><br/>
                                To:
                                <span th:text="${time.end}"></span>
                            </span>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>