<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Choose Available Times')" /><title></title></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

    <h3>Please enter a time range, <span th:text=" ${name}"></span>:</h3>
    <div class="row">
        <!--<div th:if="${}">-->
            <!--Sorry, the end time must come after the start time. Please re-enter.-->
        <!--</div>-->
        <form th:action="@{/dwight-babysitter-choose-times}" th:method="post" th:object="${datetime}">
            <div class="input-field col s12 m6 l3">
                <input type="text" class="datepicker" name="datepicker1" id="datepicker1" />
                <label for="datepicker1">Start Date</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="text" class="timepicker" name="timepicker1" id="timepicker1" />
                <label for="timepicker1">Start Time</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="text" class="datepicker" name="datepicker2" id="datepicker2" />
                <label for="datepicker2">End Date</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="text" class="timepicker" name="timepicker2" id="timepicker2" />
                <label for="timepicker2">End Time</label>
            </div>

            <!--<div class="input-field col s12 m3">-->
            <!--<input type="text" class="datepicker" name="datepicker2" id="datepicker2" />-->
            <!--<label for="datepicker2">Date Picker 2</label>-->
            <!--</div>-->
            <!--<div class="input-field col s12 m3">-->
            <!--<input type="text" class="timepicker" name="timepicker2" id="timepicker2" />-->
            <!--<label for="timepicker2">Time Picker 2</label>-->
            <!--</div>-->

            <button type="submit" class="btn blue-grey darken-2 hoverable">Submit</button>

        </form>

    </div>

</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>