<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Available Babysitters')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
    <div class="row">
        <h1>Available Babysitters</h1>
        <!--<a th:href="@{'/make-babysitter-choices'}" ><h4>+ Add Times</h4></a>-->
        <form th:action="@{/dwight-parent-choose-times}" th:method="post" th:object="${babysitters}">
            <ul>
                <li th:each="sitter : ${babysitters}">
                    <div class="card grey hoverable">
                        <div class="card-content white-text" style="padding-top: 16px;">
                            <!--<a th:href="@{'/available-times/'+ ${time.id}}">-->
                            <span class="card-title">
                                From:
                                <span th:text="${sitter.start}"></span><br/>
                                To:
                                <span th:text="${sitter.end}"></span>
                            </span>
                            <!--</a>-->
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>