<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Home')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<div class="container center-align">
    <div class="col s10 m6">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">Welcome!</span>
                <img src="/img/babysitter2.jpg" alt="Sitter Gitter"
                     style="width: 40%; height: 40%;" /><br />
                <a class="waves-effect waves-light btn-large"
                    href="/login">Login</a>
                <a class="waves-effect waves-light btn-large"
                    href="/register">Register</a>

            </div>
        </div>
    </div>
</div>

<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>