<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Home')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

<div class="row">
    <div class="col s12">
            <img src="././images/babysitter2.jpg" style="width:40%; height: 40%" alt="Sitter Gitter" />
    </div>
</div>
<div class="row">
    <div class="col s12">
        home page
    </div>
</div>


</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>