<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="testing/sgpartials :: header" />

<body>
    <nav th:replace="testing/sgpartials :: navbar"></nav>

    <main>
        <div class="container center-align">
            <form>
                <input placeholder="Username" id="username" type="text" class="validate" />
                <input placeholder="Password" id="password" type="text" class="validate" />
                <a class="waves-effect waves-light btn">Cancel</a>
                <a class="waves-effect waves-light btn">Log In</a>
            </form>
        </div>
    </main>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>