<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="mjt-partials :: header" />
<body>
    <nav th:replace="mjt-partials :: navbar"></nav>

    <main>
        <div class="container">
            <h5>Register New Account</h5>

            <form method="post" action="/test/mindy/register">

                <input placeholder="First Name" name="firstName" id="first_name" type="text" class="validate" />
                <input placeholder="Last Name" id="last_name" type="text" class="validate" />

                <input placeholder="Email Address" id="email" type="email" class="validate" />

                <input placeholder="Username" id="username" type="text" class="validate" />
                <input placeholder="Password" id="password" type="password" class="validate" />

                <input placeholder="Street Address" id="street_address" type="text" class="validate" />

                <input placeholder="City" id="city" type="text" class="validate" />

                Texas

                <input placeholder="Zipcode" id="zipcode" type="text" class="validate" />


                <a class="waves-effect waves-light btn-large" href="babysitter-or-parent.html">Cancel</a>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

<th:block th:replace="mjt-partials :: footer"> </th:block>

</body>
</html>