<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="mjt-partials :: header" />

<body>
<nav th:replace="mjt-partials :: navbar"> </nav>

<div class="container">
    Register as a New Babysitter
    <form th:action="@{/test/mindy/register-babysitter}" th:method="POST" th:object="${user}">
        <input type="hidden" th:field="*{isBabysitter}" name="user_role" value="true" />

        <input placeholder="First Name" th:field="*{firstName}" id="first_name" type="text" class="validate" /><br />
        <input placeholder="Last Name" th:field="*{lastName}" id="last_name" type="text" class="validate" />

        <input placeholder="Username" th:field="*{username}" id="username" type="text" class="validate" /><br />
        <input placeholder="Email Address" th:field="*{email}" id="email" type="email" class="validate" /><br />
        <input placeholder="Password" th:field="*{password}" id="password" type="password" class="validate" />

        <input placeholder="Street Address" th:field="*{streetAddr}" id="street_address" type="text" class="validate" /><br />
        <input placeholder="City" th:field="*{city}" id="city" type="text" class="validate" />, Texas<br />
        <input type="hidden" name="state" value="TX" th:field="*{state}" />
        <input placeholder="ZIP Code" th:field="*{zipCode}" id="zipcode" type="text" class="validate" />

        <!--<label for="dob">When were you born?</label><br />-->
        <!--<input placeholder="mm/dd/yyyy" id="dob" type="text" class="validate" th:field="*{birthdate}"/>-->

        <a class="waves-effect waves-light btn-large">Cancel</a>
    <button type="submit">Submit</button>
    </form>
</div>


<th:block th:replace="mjt-partials :: footer" />

</body>
</html>