<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Choose Available Times')" /><title></title></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>

<main>
<div class="container">
    <div class="row">
        <div>
            <h2>Sorry, the End Date/Time must come after the Start Date/Time. Please re-enter.</h2>
            <h3>Please enter time range of appointment, <span th:text=" ${name}"></span>:</h3>
        </div>
        <form th:action="@{/parent-choose-times-error}" th:method="post" th:object="${datetime}">
            <div class="input-field col s12 m3">
                <input type="text" class="datepicker" name="datepicker1" id="datepicker1" />
                <label for="datepicker1">Start Date</label>
            </div>
            <div class="input-field col s12 m3">
                <input type="text" class="timepicker" name="timepicker1" id="timepicker1" />
                <label for="timepicker1">Start Time</label>
            </div><br/><br/><br/>
            <div class="input-field col s12 m3">
                <input type="text" class="datepicker" name="datepicker2" id="datepicker2" />
                <label for="datepicker2">End Date</label>
            </div>
            <div class="input-field col s12 m3">
                <input type="text" class="timepicker" name="timepicker2" id="timepicker2" />
                <label for="timepicker2">End Time</label>
            </div>

            <button type="submit" class="btn hoverable">Submit</button>

        </form>

    </div>

</div>

</main>
<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>