<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="testing/sgpartials :: header" />

<body>
<nav th:replace="testing/sgpartials :: navbar">

</nav>

<div class="container">
    <img src="./images/babysitter2.jpg" alt="Sitter Gitter" />
        <a class="waves-effect waves-light btn-large" href="/test/login">Log In</a>
        <a class="waves-effect waves-light btn-large" href="/test/register">Register</a>
</div>

<footer>
    <th:block th:replace="testing/sgpartials :: footer" />
</footer>

</body>
</html>