<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Available Babysitters')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
    <div class="row">
        <h1>The following babysitters are available during your requested timeframe:</h1>
        <ul>
            <li th:each="appointment : ${availAppts}">
                <form th:action="@{/appointments/availableBabysitters}" th:method="post">
                    <div class="card grey hoverable">
                        <div class="card-content white-text" style="padding-top: 16px;">
                            <span class="card-title">
                            Babysitter:
                            <span th:text="${appointment.babysitter.username}"></span><br/>
                            From:
                            <span th:text="${appointment.start}"></span><br/>
                            To:
                            <span th:text="${appointment.end}"></span><br/>
                            <span th:text="${appointment.id}"></span>
                            <input type="hidden" th:value="${appointment.babysitter.getId()}" name="sitterid"/>
                            <button>Choose</button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>