<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Parent Appointments')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">
    <div class="row">

        <div th:if="${(user.getisBabysitter() == false) and user.getUsername() == sessionUser.getUsername()}" class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Choose A Past Appointment To Review:</span>

                    <ul th:each="appointment : ${pastAppts}" th:if="${current_time > appointment.end and appointment.reviewed == false}" class="card-panel">
                        <li>
                            Sitter:
                            <span th:text="${appointment.getBabysitter().firstName} + ' ' + ${appointment.getBabysitter().lastName}"></span>
                        </li>

                        <li>
                            From:
                                <span th:text="${appointment.getStart()}"></span>
                        </li>

                        <li>
                            To:
                                <span th:text="${appointment.getEnd()}"></span>
                        </li>

                        <li>
                            <a th:href="@{'/reviews/'+${appointment.getId()}+'/create/'}">
                            <i class="fas fa-user-edit"></i> WRITE A REVIEW!</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>

<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head><th:block th:replace="fragments/head :: header('Parent Appointments')" /></head>-->
<!--<body>-->
<!--<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>-->


<!--<div class="container">-->
    <!--<div class="row">-->

        <!--<div class="col s12">-->
            <!--<h2>Choose A Past Appointment To Review:</h2>-->
        <!--</div>-->
        <!--<div th:if="${(user.getisBabysitter() == false) and user.getUsername() == sessionUser.getUsername()}">-->
            <!--<ul>-->

                <!--&lt;!&ndash; changes start here ///////////////////////////////////////////////////////// &ndash;&gt;-->
                <!--<li th:each="appointment : ${pastAppts}">-->
                    <!--&lt;!&ndash; changes end here ///////////////////////////////////////////////////////// &ndash;&gt;-->
                    <!--<div th:if="${current_time > appointment.end and appointment.reviewed == false}" class="col s12 m6 l4">-->
                    <!--&lt;!&ndash;<div th:if="${appointment.start > current_time}" class="col s12 m6 l4">&ndash;&gt;-->
                        <!--<div class="card grey hoverable">-->

                            <!--<div class="card-content white-text" style="padding-top: 16px;">-->
                    <!--<span class="card-title">-->

                        <!--&lt;!&ndash; changes start here ///////////////////////////////////////////////////////// &ndash;&gt;-->
                        <!--<p>-->
                            <!--From:<br/>-->
                        <!--&lt;!&ndash;<a th:href="@{'/appointments/'+${appointment.getId()}}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:text="${appointment.getStart()}"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--<p th:href="@{'/appointments/'+${appointment.getId()}}">-->
                                <!--<span th:text="${appointment.getStart()}"></span>-->
                            <!--</p>-->
                        <!--</p>-->
                        <!--&lt;!&ndash; changes end here ///////////////////////////////////////////////////////// &ndash;&gt;-->


                        <!--&lt;!&ndash; changes start here ///////////////////////////////////////////////////////// &ndash;&gt;-->
                        <!--<p>-->
                            <!--To:<br/>-->
                        <!--&lt;!&ndash;<a th:href="@{'/appointments/'+${appointment.getId()}}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:text="${appointment.getEnd()}"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--<p th:href="@{'/appointments/'+${appointment.getId()}}">-->
                                <!--<span th:text="${appointment.getEnd()}"></span>-->
                            <!--</p>-->
                        <!--</p>-->
                        <!--&lt;!&ndash; changes end here ///////////////////////////////////////////////////////// &ndash;&gt;-->

                    <!--</span>-->
                                <!--<div class="card-action">-->
                                    <!--&lt;!&ndash;<a th:href="@{'/available-times/'+${time.getId()}+'/edit'}">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fas fa-edit"></i></a>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a th:href="@{'/appointments/'+${appointment.getId()}+'/review/'}">&ndash;&gt;-->
                                    <!--<a th:href="@{'/reviews/'+${appointment.getId()}+'/create/'}">-->
                                        <!--<i class="fas fa-user-edit"></i> WRITE A REVIEW!</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<footer><th:block th:replace="fragments/footer :: footer" /></footer>-->
<!--<th:block th:replace="fragments/includes :: includes" />-->
<!--</body>-->
<!--</html>-->